body *{
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 219, 175, 0.911);
   background-image: url('image.jpg');
   background-position-x: inherit;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: scroll;
   color:black;
   

}
h1{
    font-family: 'Times New Roman', Times, serif;
    column-fill: inherit;
    font-size: 30px;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
    line-height: 0.7em;
    color: rgba(27, 39, 39, 0.705);
}
.c1
{
    color: rgb(54, 53, 51);
}

.c1{
    color: rgb(56, 51, 51);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
    font-weight: bold;
    background-color:  rgba(255, 219, 175, 0.911);
    
}

h2{
    font-style: inherit;
}
.c2

{
    font-language-override: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.c3
{
    color: rgba(44, 43, 48, 0.884);
}

tr{
    background-color: rgba(68, 63, 63, 0.507);
}
.c5
{
    color: rgb(56, 51, 51);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
    font-weight: bold;
    

}
h2{
    color: rgb(58, 33, 33);
}
h4{
    background-color:  rgba(255, 219, 175, 0.911);
}
.c1{
    background-color: rgba(117, 115, 106, 0.473);
}

.container{
    width: 100%;
    margin: auto;
}
.container2{
width: 65%;

}
.c1{
    border: black 2px solid;
}

}
h2{
    padding: 1%;
    margin: 1px;
}

.c3{
    width: 50%;
    height: 100px;
    float: left;
    line-height: 100%;
    padding-top: 20px;
}
.clear{
    clear: both;
}